{% extends "page.html.twig" %}
{#
/**
 * @file
 * Theme override to display the "Search" page.
 */
#}
{% block page_body %}

  <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
    <div class="Grid Grid--withGutter">

      <div class="Grid-cell u-sizeFull u-md-size3of12 u-lg-size3of12"></div>
      <div class="Grid-cell u-sizeFull u-md-size9of12 u-lg-size9of12">

        {# Breadcrumb #}
        {% if page.breadcrumb %}
          {{ page.breadcrumb }}
        {% endif %}

      </div>
    </div>
  </div>

  {# Help #}
  {% if page.help|render|striptags|trim %}
    {{ page.help }}
  {% endif %}

  {# Hero #}
  {% if page.hero %}
    {{ page.hero }}
  {% endif %}

  <button type="button" id="sidebarExposedFormMobileToggler" class="sidebar-exposed-form-toggler">
    {{ 'FILTRI'|t }}<span class="u-text-r-l Icon Icon-drop-up"></span>
  </button>

  {# Page content region #}
  <div class="u-padding-r-bottom u-posRelative">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
      <div class="Grid Grid--withGutter">

        {# Sidebar left #}
        <div class="Grid-cell u-sizeFull u-md-size3of12 u-lg-size3of12 sidebar-exposed-form-wrapper">
          {{ page.sidebar_left }}
        </div>

        {# Content #}
        <div class="Grid-cell u-sizeFull u-md-size6of12 u-lg-size6of12">
          {{ page.content }}
        </div>

      </div>
    </div>
  </div>

  {# Postscript first #}
  {% if page.postscript_first %}
    {{ page.postscript_first }}
  {% endif %}

  {# Postscript second #}
  {% if page.postscript_second %}
    {{ page.postscript_second }}
  {% endif %}

  {# Postscript third #}
  {% if page.postscript_third %}
    {{ page.postscript_third }}
  {% endif %}

  {# Postscript fourth #}
  {% if page.postscript_fourth %}
    {{ page.postscript_fourth }}
  {% endif %}

  {# Leads region #}
  {% if page.leads %}
    {{ page.leads }}
  {% endif %}

  {# Pre footer #}
  {% if page.pre_footer %}
    {{ page.pre_footer }}
  {% endif %}

{% endblock %}
