{#
/**
 * @file
 * Theme override to display a node of type acc_subj.
 */
#}
{% if 'SPID' in content.field_acc_subj_type.0 %}
<div class="spid-back-link u-padding-top-xl">
  <p>
    <strong class="u-textWeight-600"><a href="{{ url('view.spid_provider.page_1') }}">{{ 'Elenco identity provider accreditati'|t }}</a></strong>
  </p>
</div>
{% endif %}

{%
  set classes = [
    'Prose',
    'u-layout-prose',
    'acc-subj',
    'u-padding-bottom-xxl',
  ]
%}
<h1 class="u-text-h2 u-margin-top-m"><span>{{ label }}</span></h1>
<article{{ attributes.addClass(classes)|without('role') }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="acc-subj__service-data u-padding-top-l">
    <h2>{{ 'Dati sul servizio' }}</h2>
    {{ content.field_acc_subj_service_logo }}
    {{ content.field_acc_subj_state }}
    {{ content.field_acc_subj_acc_date }}
    {{ content.field_acc_subj_end_date }}
  </div>
  <div class="acc-subj__related-docs u-padding-top-l">
    {{ content.field_repository_files }}
  </div>
  <div class="acc-subj__more-info u-padding-top-l">
    {{ content.field_acc_subj_info }}
  </div>
  <div class="acc-subj__external">
    {{ content.field_acc_subj_external_link }}
  </div>
  <div class="acc-subj__external u-padding-top-l">
    <h2>{{ 'Dati societari'|t }}</h2>
    {{ content.field_acc_subj_logo }}
    {{ content.field_acc_subj_fc }}
    {{ content.field_acc_subj_vat }}
    {{ content.field_acc_subj_registered_office }}
    {{ content.field_acc_subj_attorney }}
    {{ content.field_acc_subj_pec }}
    {{ content.field_acc_subj_website }}
    {{ content.field_acc_subj_phone }}
  </div>

</article>
