{#
/**
 * @file
 * Theme override for a field in the acc_subj ct.
 */
#}

{%
  set classes = [
  'acc-subj__' ~ field_name|clean_class,
]
%}
{%
set title_classes = [
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}
<div{{ attributes.addClass(classes) }}>
  {% if multiple %}
    {% if not label_hidden %}
      <h2{{ title_attributes.addClass(title_classes) }}>{{ label }}</h2>
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes }}><a href="mailto:{{ item.content }}">{{ item.content }}</a></div>
    {% endfor %}
  {% else %}
    {% if not label_hidden %}
      <strong{{ title_attributes.addClass('u-textWeight-600') }}>{{ label }}:</strong>
    {% endif %}
    {% for item in items %}
      <a{{ item.attributes.addClass('field__item') }} href="mailto:{{ item.content }}">{{ item.content }}</a>
    {% endfor %}
  {% endif %}
</div>
