<html>
  <head>
    <link href="{{ css_template }}" rel="stylesheet" />
    <title> {{ title }} </title>
  </head>
  <body>
    <!-- Attention: leave <footer> above <header>, otherwise it will not shown on first page. -->
    <footer> {{ footer|raw }} </footer>
    <!-- ##### -->

    <!-- Header -->
    <header> {{ header|raw }} </header>

    <!-- Main -->
    <main class="pdf-content">
      {{ content|raw }}
    </main>

  </body>
</html>
