<html>
  <head>
    <link href="{{ css_template }}" rel="stylesheet" />
    <title> {{ title }} </title>
  </head>
  <body>
    <header>
      {{ header|raw }}
    </header>
    <main class="pdf-content">
      {{ content|raw }}
    </main>
    <footer>
      {{ footer|raw }}
    </footer>
  </body>
</html>
