{#
/**
 * @file
 * Default theme implementation for Share Everywhere module.
 *
 * Available variables:
 *  - attributes: Remaining HTML attributes for the element, including:
 *    - class: HTML classes that can be used to style contextually through CSS.
 *  - title: The title of the module.
 *  - facebook_like: The rendered Facebook like button if enabled in the settings.
 *  - share_icon: Universal share icon.
 *    - id: Unique id.
 *    - class: Additional classes.
 *    - src: Path to the share icon.
 *    - alt: Alt text of the image.
 *  - se_links_id: Unique id.
 *  - is_active: Gives se-active class to the ul element if it is setup to be non-collapsible or gives se-inactive by default.
 *  - buttons: The social buttons to be rendered.
 *
 */
#}

{{ attach_library('agid/agid_share') }}

<div class="agid-share-widget">
  <div {{ attributes.addClass('agid-share') }}>
    {% if title %}
      <h3 class="agid-share__title"> {{ title }} </h3>
    {% endif %}
    <div class="agid-share__trigger">
      <span class="agid-share__trigger__icon"><img src="/{{ base_path }}/icons/share.svg" aria-label="share icon" alt="Share icon" ></span>
      <span class="agid-share__trigger__icon agid-share__trigger__icon--hover"><img src="/{{ base_path }}/icons/share-hover.svg" aria-label="share icon" alt="Share icon" ></span>
      <!--<span class="agid-share__trigger__icon Share-revealIcon Icon Icon-share"></span>-->
      <div class="agid-share__trigger__text">
        {{ "Condividi"|t }}
      </div>
    </div>
    <div class="agid-share__links-container {{ is_active }}">
      <ul class="agid-share__links-container__links">
        {% for key, button in buttons %}
          <li class="agid-share__links-container__link {{ key }}"> {{ button }} </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
