{#
/**
 * @file
 * Theme override for a language switcher menu links.
 */
#}

{% set container_classes = [
'Dropdown-menu',
'Header-language-other',
'u-jsVisibilityHidden',
'u-nojsDisplayNone'
] %}

{% set item_classes = [
'menuitem'
] %}

{# List of all allowed languages #}
{% if links -%}
  <div id="languages" data-menu="" class="{{ container_classes | join(' ') }}" role="menu" aria-hidden="true">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul>
      {%- for item in links -%}
        <li{{ item.attributes.addClass(item_classes) }}>
          {%- if item.link -%}
            {{ item.link }}
          {%- elseif item.text_attributes -%}
            <span{{ item.text_attributes }}>{{ item.text }}</span>
          {%- else -%}
            {{ item.text }}
          {%- endif -%}
        </li>
      {%- endfor -%}

    </ul>
  </div>
{%- endif %}
