{#
 # Variables
 # title: block's title
 # username: twitter user's name of which show tweets
 # tweets_to_show: how many tweets should be shown
 # tweets: array of stdClass contains tweet object
 #}


<!-- Grid with Title and Tweets -->
<div class="u-text-r-xxl u-padding-r-top">
  <div class="u-background-70 u-padding-r-top u-padding-r-bottom">
    <!-- Tweets -->
    <div class="u-layout-centerContent u-background-70 u-padding-r-all">
      <section class="u-layout-medium">
        <!-- Block title -->
        <div class="Grid">
          <div class="Grid-cell u-layout-centerLeft">
            <h2 class="u-text-r-l"><a class="u-color-white" href="https://twitter.com/{{ username }}">{{ title }}</a></h2>
          </div>
        </div>

        <div class="Grid Grid--fit Grid--withGutter u-padding-all-l agid-twitter-block" data-tweets="{{ tweets_to_show }}">
          {% for tweet in tweets %}
            <div class="Grid-cell u-sizeFull u-md-size1of{{tweets_to_show}} u-lg-size1of{{tweets_to_show}} u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
              <div class="u-nbfc u-borderRadius-m u-color-grey-30 u-background-white" data-tweet="{{ loop.index }}">
                <section class="u-text-r-l u-padding-r-all u-layout-prose">
                  <div class="u-text-p u-padding-r-bottom">
                    <p class="u-color-50 u-text-r-xxs u-textWeight-600">{{ tweet.user.name }} (@{{ tweet.user.screen_name }})</p>
                    <p class="u-textSecondary u-text-r-xxs"> {{ tweet.created_at|date("m/d/Y")  }}</p>
                  </div>
                  <h3 class="u-text-p u-textWeight-400 u-color-grey-80 u-margin-r-bottom u-padding-r-bottom">
                    {{ tweet.text }}
                  </h3>
                  <p>
                    <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="{{ tweet.entities.urls[0].url }}">
                      <span class="Icon-twitter" aria-hidden="true"></span>
                      <span class="u-hiddenVisually">visualizza su twitter</span>
                    </a>
                  </p>
                </section>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
</div>